In [1]:
#.........Excercise 1........
#example given
print (5/8)

#print th sum of 7 & 10
#addition
print(7+10)

0.625
17

In [3]:
print (5+5)
#adding
print(5-5)
#subtracting
print(3*5)
#multiplying
print(10/2)
#division
print(18%7)
#modulus
print(4**2)
#exponent

10
0
15
5.0
4
16

In [13]:
P = 5000 
R = 0.07 
T = 5 
#assigned the values for p,r & t
SI= P*R*T 
#money earned by John in interest
print( "Money earned in interest is : ", SI)

A = P + SI
#total value of his saving account using simple interest
print( "Total Value : ", A)

Money earned in interest is :  1750.0000000000002
Toatal Value :  6750.0

In [19]:
A = 4872
P = 8000
R = 0.087
#assigned the values for p,r & a
T  = A / (P*R) 
print("Time is ",T,"Years")

Time is  7.0 Years

In [22]:
I = 768
T = 4
P = 3000
#assigned the values for Interest ,rate & principal
R = I / (P*T)
print("Rate of interest is : " , R*100, '%')

Rate of interest is :  6.4 %

In [23]:
P = input("Principal taken : ")
R = input("Rate taken : ")
T = input("Time taken : ")
CI = float(P)*(1 + float(R))**float(T)
#Amount after 7 years calculated using compound interest
print ('Amount after 7 years is ', CI)

Principal taken : 100
Rate taken : 0.01
Time taken : 7
Amount after 7 years is  107.21353521070101

In [18]:
#.........Exercise 2.........




#creating variable savings 
savings  = 100
print (savings)
print(type(savings))

100
<class 'int'>

In [17]:
#creating variable savings 
savings  = 100
#creating variable growth_multiplier 
growth_multiplier =  1.1
print(type(growth_multiplier))

#creating variable result
result = (100* 1.1**7)
print(result)

<class 'float'>
194.87171000000012

In [13]:
#creating a string 
desc = "Compound Interest"

#creating a boolean profitable with the value true
profitable = True

In [16]:
A = 10.7
#to know the data set type of A
print(type (A))

B = "This is python course" 
#to know the data set type of B
print(type (B))

C = False
#to know the data set type of C
print(type (C)

<class 'float'>
<class 'str'>
<class 'bool'>

In [39]:
savings  = 100
growth_multiplier =  1.1
year1 = print(float(savings * growth_multiplier))
#to know the data set type of growth_multiplier
type(growth_multiplier)

110.00000000000001

float

In [3]:
desc = "Compound Interest"
#adding double string value
doubledesc = desc + desc 
print(doubledesc)

Compound InterestCompound Interest

In [17]:
savings = 100 
results = (savings*1.10**7)
print("I started with $"+ saving + " and now have $"+ str(results) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

In [18]:
pi_string = "3.1415926"
#converting the string value into float
pi_float = float(pi_string)
double_pi = (pi_float*2)
print(double_pi)

6.2831852

In [23]:
(" I can add integers ,like" +srt(5) + " to strings.")

NameError: name 'srt' is not defined

In [24]:
(" I said " + (" Hey "*2) + " Hey!")

' I said  Hey  Hey  Hey!'

In [25]:
true+false

NameError: name 'true' is not defined

In [33]:
"The correct answer to this multiple choice exercise is answer number" + 2

TypeError: can only concatenate str (not "int") to str

In [12]:
#........Exercise 3..........




# Python Program to find whether the number is even or not 
even = input("Enter a Number: ")
num = int(even)
if num%2 == 0:
    print('the number is even ')
else :
    print('enter yet')

Enter a Number: 6
the number is even

In [36]:
# Python Program to convert temperature in celsius to fahrenheit
celsius = float(input('enter your temperature'))
# calculate fahrenheit
fahrenheit = (celsius * 1.8) + 32
print('degree Fahrenheit is: ',fahrenheit)

enter your temperature30
degree Fahrenheit is:  86.0

In [2]:
#importing a math library
import math

#taking the values for all 3 sides of a triangle 
a = float(input("enter S1 "))
b = float(input("enter S2 "))
c = float(input("enter S3 "))
s = (a+b+c)/2

#calculating the area
area = math.sqrt(s*(s-a)*(s-b)*(s-c))

print("Area of triangle is: ", area)

enter S1 4
enter S2 3
enter S3 6
Area of triangle is:  5.332682251925386

In [6]:
#defining a variable for radius 
r = float(input("radius: "))

#printing the value of 5
print("pi is ", math.pi)

#calculating circumfrence of circle
c = 2*math.pi*r

#calculating area of circle 
a =  (math.pi)*r**2

print("calculating circumfrence of circle ", c)
print("calculating area of circle ", a)

radius: 3.14
pi is  3.141592653589793
calculating circumfrence of circle  19.729201864543903
calculating area of circle  30.974846927333925

In [10]:
#checking if num is a multiple of 5
num = int(input("Enter the number "))
if num%5 == 0 :
    print("multiple of 5")
else : 
    print("not a multiple of 5")

Enter the number 45
multiple of 5